.jumbotron {
  text-align: center;
  font-family: 'Inknut Antiqua', serif;
  background-image: url(../img/house2.jpg);
  background-repeat: no-repeat;
  background-size: ;
  height: 500px;
  background-position: center;
  color: skyblue;
  background-color: black;
  transition: background-image 2.0s ease;
}
.jumbotron p {
  color: black;
}
.jumbotron:hover {
  background-image: url(../img/house1.jpg);
  background-color: white;
  transition: background-image 2.0s ease;
}
.description {
  font-size: 25px;
  text-align: center;
  height: 300px;
  font-family: 'Lobster', cursive;
}
.subscribe {
  background-image: url(../img/housing3.jpg);
  height: 200px;
  background-repeat: repeat-x;
}
